.style-sidebar {
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  position: relative;
  z-index: 10;
}

.style-header {
  padding: 0 12px 0 32px;
  background: #fff !important;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .35);
  position: relative;
}

.style-layout {
  margin-right: 8px;
/*  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s*/;
}

.style-logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
}

.style-logo > img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.style-logo h1 {
  color: #fff !important;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-weight: 600;
}

.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-item {
  font-size: 16px !important;
 }

 .ant-menu-item > button {
  border: none;
  outline: none;
 }