@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 3000px;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: inherit !important;
}

button {
  cursor: pointer;
}

ul, p {
  margin: 0;
  padding: 0;
}

.ant-card-head-title {
  color: #343434 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.ant-input-number {
  width: 110px !important;
}

.ant-btn-lg,
.ant-btn-md,
.ant-btn-sm,
.ant-input,
.ant-card,
.ant-form-item,
.ant-form-item-control > *,
.ant-form label {
  font-size: 16px !important;
}


.ant-table {
  font-size: 15px !important;
}